<html>
    <head>
        <title> jack matrix </title>
    <style>
        table {
            border:solid;
        }

        td{
            border:solid;
        }
        td.in {
            color: red;
        }
        td.out {
            color: blue;
        }
        td.connection {
            text-align: center;
        }
    </style>
    </head>
    <body>

        <table style="border:solid;">
        <!-- table header : clients-->
        <tr>
        <td/>
        <td class="out">outputs</td>

        {% for clientName, clientData in clients.items() if clientData.output| length != 0%}
        <td colspan="{{clientData.output | length}}"><b>{{clientName}}</b></td>
        {% endfor %}
        </tr>
        <!-- sub table header : outputs -->
        <tr>
        <td class="in">inputs</td>
        <td/>
        {% for clientName, clientData in clients.items() %}
                {% for output in  clientData.output %}
                <td class="out"> {{output }}</td>
                {% endfor %}
        {% endfor %}
        </tr>




        <!-- one row per input-->

        {% for clientName, clientData in clients.items() if clientData.input | length != 0%}
        <tr>
        <td rowspan="{{clientData.input | length }}"><b>{{clientName}}</b></td>

                {% for input in  clientData.input %}
                {% if not loop.first%}
                <tr>
                {% endif %}
                    <td class="in"> {{input }}</td>
                    <!-- connections -->
                    {% for outputClientName, outputClientData in clients.items() if outputClientData.output| length != 0%}
                        {% for outputName, outputData in  outputClientData.output.items() %}
                        <td class="connection">
                            {% for con in outputData.connections %}
                                {% if con == clientName + ":" + input %}
                                    X                            
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    {% endfor %}
                </tr>

                {% endfor %}
        {% endfor %}
        </table>



    </body>
</html>
